doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="javascripts/snowflake.js")
    script(src="javascripts/p5.min.js")
    script(src="javascripts/p5.dom.min.js")
    script(src="javascripts/p5.sound.min.js")
    script(src="javascripts/scripts.js")
